name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore ./practice/WebApplication1/
    - name: Build
      run: dotnet build --no-restore ./practice/WebApplication1/
    - name: Test
      run: dotnet test --no-build --verbosity normal ./practice/WebApplication1
    - name: Upload asset artifact
      uses: actions/upload-artifact@v2
      with:
        name: assets
        path: '~/**/*[assets].tar'
    - name: Download asset artifact
      uses: actions/download-artifact@v2
      with:
        name: assets
